{% extends "base.html" %}
{% load static %}

{% block styles %}

	<link  href="{% static 'css/cropper.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}

	Upload Photo

{% endblock %}

{% block content %}

<div class="container mt-5">
	<form method="post" enctype="multipart/form-data" id="formUpload">
  		{% csrf_token %}
  		{{ form.as_p }}
  		<button type="submit">Save</button>
	</form>

	<br><br>
	{% for photo in photos %}
		{{ photo.title }}<br>
		<a href="{{ photo.image.url }}">Image</a><br><br>
	{% endfor %}
</div>

{% endblock %}

{% block scripts %}

	<script src="{% static 'js/cropper.js' %}"></script><!-- Cropper.js is required -->
    <script src="{% static 'js/jquery-cropper.js' %}"></script>

{% endblock %}
